@use "sass:map";

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

@mixin media-up($name) {
  @media (min-width: map.get($breakpoints, $name)) {
    @content;
  }
}
